@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Public Sans', sans-serif;
  background: hsl(0, 0%, 98%);
  overflow-x: hidden;
}

img{
  width: 100%;
}

a, a:hover{
  text-decoration: none;
}

/* UTILITY CLASSES */
.container{
  padding: 0 1rem;
}

.navbar{
  padding: 0;
  position: relative;
  z-index: 2;
}

.nav-item{ 
  padding: 1rem .5rem;
  border-bottom: 4px solid #fff;
  font-weight: 400;
}
.active{ border-bottom: hsl(136, 65%, 51%) solid 4px; }

.btn-primary{
  border-radius: 40px;
  padding: .5rem 1.5rem;
  border: none;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}

/* HEADER STYLING */
#main-header{
  background: url(../images/bg-intro-desktop.svg) no-repeat right;
  background-size: 75%;
  background-position-x: 170%;
  background-position-y: -200px;
  height: 80vh;
  color: hsl(233, 8%, 62%);
}

#main-header h1{
  color: hsl(233, 26%, 24%);;
}

#main-header .container{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main-header .container img{
  width: 70%;
  position: relative;
  left: 260px;
  z-index: 1;
}

/* Why section */
#why{
  height: 90vh;
  background: hsl(220, 16%, 96%);
  padding-top: 7rem;
}

#why img{
  width: 70px;
}

#why h1, #why h4{
  color: hsl(233, 26%, 24%);
}

.card, .card-header{
  background: inherit;
  border: none;
}

#why p{
  font-size: 0.9rem;
  margin-top: 0.6rem;
  color: hsl(233, 8%, 62%);
}

#why-content{
  margin-bottom: 3rem;
}

#why-content h1{
  margin-bottom: 1rem;
}


/* Article Section */
#articles{
  height: 100vh;
  padding-top: 4rem;
}

#articles .card{
  height: 400px;
}

#articles .card img{
  height: 50%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#articles h1{
  color: hsl(233, 26%, 24%);
}


#articles .content{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1rem;
}

#articles span{
  font-size: .7rem;
  color: hsl(233, 8%, 62%);
}

#articles h5{
  color: hsl(233, 26%, 24%);
  font-weight: 400;
}

#articles p{
  color: hsl(233, 8%, 62%);
  font-size: .9rem;
}

/* Footer */
#footer{
  background-color: hsl(233, 26%, 24%);

}

#footer-logo{
  width: 150px;
}

.social img{
  width: 25px;
  margin-right: .5rem;
}

#footer .row{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#footer ul li{
  list-style: none;
  margin: .5rem;
}

#footer #request{
  align-self: center;
  color: hsl(233, 8%, 62%);
}

#footer .btn{
  margin-left: 5.5rem;
}

/* Attribution */

.attribution { font-size: 15px; text-align: center; color: #fff; }
.attribution a { color: hsl(228, 45%, 44%); }
